<div class="container">
  <div class="email" (click)="openModal()" [class.expand]="isOpen">
    <div class="from">
      <div class="from-contents">
        <div class="avatar me"></div>
        <div class="name">
          {{ title }}
        </div>
      </div>
    </div>
    <div class="to">
      <div class="to-contents">
        <div class="top">
          <div class="avatar-large me"></div>
          <div class="name-large">{{ title }}</div>
          <div
            class="x-touch"
            onclick="document.querySelector('.email').classList.remove('expand');event.stopPropagation();"
            (click)="closeModal()"
          >
            <div class="x">
              <div class="line1"></div>
              <div class="line2"></div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <!-- single slot transclusion here -->
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
