<section class="text-left m-t-lg animated fadeIn">
  <h1>
    Title 1
  </h1>

  <app-modal #supervisorModal [title]="'Add new value'">
    <app-supervisor-form
      (supervisorSaved)="onSupervisorSaved($event)"
    ></app-supervisor-form>
  </app-modal>

  <div class="row">
    <table
      mat-table
      [dataSource]="supervisors"
      class="mat-elevation-z8 col-lg-6"
    >
      <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="text-right">
          <button
            md-raised-button
            class="btn btn-danger"
            (click)="deleteSupervisor(element._id)"
          >
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
