<div
  id="wrapper"
  [ngClass]="{ 'mini-navbar': miniMenu, 'body-small': bodySmall }"
  (window:resize)="onResize($event)"
>
  <nav
    class="navbar-default navbar-static-side"
    role="navigation"
    [ngClass]="miniMenu ? 'pinned' : 'not-pinned'"
  >
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="logo-element">
            RN+
          </div>
          <div class="profile-element">
            RamiNomi+
          </div>
        </li>
        <li>
          <a routerLink="/"
            ><i class="fa fa-th-large"></i>
            <span class="nav-label">Main view</span></a
          >
        </li>
        <li>
          <a routerLink="/contactos"
            ><i class="fa fa-user"></i>
            <span class="nav-label">Second View</span>
          </a>
        </li>
        <li>
          <a routerLink="/supervisores"
            ><i class="fa fa-table"></i>
            <span class="nav-label">Minor view</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
      <nav
        class="navbar navbar-static-top white-bg"
        role="navigation"
        style="margin-bottom: 0; padding: 0; width: 100%"
      >
        <div class="navbar-header">
          <span
            class="navbar-minimalize minimalize-styl-2 btn btn-primary "
            (click)="miniMenu = !miniMenu"
            ><i class="fa fa-bars"></i>
          </span>
          <form
            role="search"
            class="navbar-form-custom"
            method="post"
            action="#"
          >
            <div class="form-group">
              <input
                type="text"
                placeholder="Search for something..."
                class="form-control"
                name="top-search"
                id="top-search"
              />
            </div>
          </form>
        </div>
      </nav>
    </div>
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center m-t-lg">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="pull-right">10GB of <strong>250GB</strong> Free.</div>
      <div><strong>Copyright</strong> Example Company &copy; 2019</div>
    </div>
  </div>
</div>
