<div>
  <form class="row">
    <div class="form-group col-md-12 ">
      <label for="service-name">Nombre</label>
      <input
        class="form-control"
        name="service-name"
        [(ngModel)]="service.name"
        placeholder="Nombre"
      />
    </div>
    <div class="form-group col-md-12 ">
      <label for="service-supervisor">Supervisor</label>
      <select
        class="form-control"
        name="service-supervisor"
        [(ngModel)]="service.supervisor"
      >
        <option disabled selected [ngValue]="null"
          >Seleccionar Supervisor...</option
        >
        <option
          *ngFor="let supervisor of supervisors"
          [ngValue]="supervisor._id"
          >{{ supervisor.name }}</option
        >
      </select>
    </div>
    <div class="form-group col-md-12 ">
      <label for="service-supervisor">Turno</label>
      <div class="row">
        <div class="col-md-12" *ngFor="let schedule of schedules">
          <div class="row list">
            <mat-checkbox
              name="schedule.name"
              [(ngModel)]="schedule.checked"
              class="col-sm-4"
              >{{ schedule.name }}
            </mat-checkbox>

            <div class="col-md-3 ">
              <input
                name="schedule{{ schedule.name }}"
                type="number"
                class="form-control turn-input "
                [(ngModel)]="schedule.max"
                [disabled]="!schedule.checked"
                min="0"
                placeholder="0"
              />
              <span
                matTooltip="Maximo número de empleados por turno"
                [matTooltipPosition]="'above'"
              >
                <i class="fa fa-question-circle info"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="service-supervisor">Salarios</label>

      <div class="row">
        <div class="col-md-6">
          <p>Posición</p>
        </div>
        <div class="col-md-6">
          <p>Salario</p>
        </div>
      </div>

      <div
        class="row position-element"
        *ngFor="let position of service.positions; let i = index"
      >
        <div class="col-md-6">
          <input
            name="position{{ i }}"
            [(ngModel)]="position.name"
            type="text"
            class="form-control "
          />
        </div>
        <div class="col-md-6">
          <input
            name="salary{{ i }}"
            type="number"
            [(ngModel)]="position.salary"
            class="form-control salary-input"
            placeholder="0.00"
          />

          <span
            class="delete-btn"
            (click)="deletePosition(i)"
            *ngIf="service.positions.length > 1"
            ><i class="fa fa-trash"></i
          ></span>
        </div>
      </div>
      <span class="link" (click)="addNewPosition()">+ Agregar Posición</span>
    </div>

    <div class="form-group col-md-12 text-right ">
      <button class="btn btn-primary" (click)="createService()">
        Create
      </button>
    </div>
  </form>
</div>
