<section class="text-left m-t-lg animated fadeIn">
  <h1>
    Services
  </h1>

  <app-modal #serviceModal [title]="'Add new Service'">
    <app-service-form
      (serviceSaved)="onServiceSaved($event)"
    ></app-service-form>
  </app-modal>

  <div class="row">
    <table mat-table [dataSource]="services" class="mat-elevation-z8 col-lg-8">
      <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="supervisor">
        <th mat-header-cell *matHeaderCellDef>Supervisor</th>
        <td mat-cell *matCellDef="let element">
          {{ element.supervisor ? element.supervisor.name : 'null' }}
        </td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="schedule">
        <th mat-header-cell *matHeaderCellDef>Turnos</th>
        <td mat-cell *matCellDef="let element">{{ element.schedule }}</td>
      </ng-container>

      <!-- Payment Column -->
      <ng-container matColumnDef="payment">
        <th mat-header-cell *matHeaderCellDef>Salarios</th>
        <td mat-cell *matCellDef="let element">{{ element.payment }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="text-right">
          <button
            md-raised-button
            class="btn btn-danger"
            (click)="deleteService(element._id)"
          >
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
